body {
  background-image: url(img/photo_2024-08-15_04-49-54.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 1%;
}
.cube {
  font-size: 6em;
  background-color: rgb(200, 195, 185);
  color: rgb(174, 142, 76);
  border: 6px double rgb(101, 87, 80);
  border-radius: 5%;
}

.cube:hover {
  transform: scale(1.1);
  color: rgb(173, 118, 66);
}

@media (max-width: 600px) {
.wrapper {
flex-direction: column;
align-items: center;
gap: 0.2rem;
}
.cube {
font-size: 3rem;
}
}
